* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

// button reset: https://benmyers.dev/blog/clickable-divs/
button {
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  background: transparent;
}
